<div class="frame-line-item">
  <div *ngIf="!frameLineItem.topFrame;" class="top-y-line-box">
    <div class="top-x-line-wrapper">
      <div class="top-x-line" [ngClass]="{
      'only-one': onlyOne,
      'first-frame': firstFrame,
      'last-frame': lastFrame
      }"></div>
    </div>

    <div class="top-y-line">
      <div class="top-y-line-arrow"></div>
    </div>
  </div>

  <div class="frame-line-item-box">
    <div class="frame-line-item-wrapper">
      <div class="frame-line-item-content">
        <div class="frame-line-item-title">{{ frameLineItem.title }}</div>
        <app-frame-detail [frameDetail]="frameLineItem"></app-frame-detail>
      </div>
    </div>

    <div class="bottom-y-line-box" [ngClass]="{
      'longer-y-line': frameLineItem.frameLineChildren
        && frameLineItem.frameLineChildren.length > 1
      }"
    >
      <div class="bottom-y-line">
        <div class="add-frame-item-box">
          <div class="add-frame-item-btn" (click)="toggleAddFrameItemPopper()">+</div>
          <div class="add-frame-item-popper" [ngClass]="{
            'active': addFrameItemPopper
            }"
          >
            <div class="add-frame-into-array unselected-able" (click)="addFrameItemIntoArray(frameLineItem)">增加一个并行元素</div>
            <div class="add-frame-item unselected-able" (click)="addFrameItem(frameLineItem)">增加一个 action</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-frame-line-children [frameLineChildren]="frameLineItem.frameLineChildren"></app-frame-line-children>
</div>
