@import "./frame-detail/frame-detail.component.scss";
.frame-line-item {
  box-sizing: border-box;
  width: 100%;
  .top-y-line-box {
    box-sizing: border-box;
    height: 4vh;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .top-x-line-wrapper {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      .top-x-line {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-top: 1px solid $border-frame-line;
        position: absolute;
        top: 0;
        left: 0;
        &.only-one {
          display: none;
        }
        &.first-frame {
          left: 50%;
        }
        &.last-frame {
          left: -50%;
        }
      }
    }
    .top-y-line {
      box-sizing: border-box;
      width: 1px;
      height: 100%;
      background-color: $border-frame-line;
      position: relative;
      .top-y-line-arrow {
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        &::before {
          display: block;
          content: '';
          width: 100%;
          height: 100%;
          border-bottom: 1px solid $border-frame-line;
          border-left: 1px solid $border-frame-line;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .frame-line-item-box {
    box-sizing: border-box;
    width: 100%;
    .frame-line-item-wrapper {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .frame-line-item-content {
        padding: 0;
        box-sizing: border-box;
        width: 20%;
        min-width: 100px;
        border: 1px solid $border-frame-line;
        .frame-line-item-head {
          box-sizing: border-box;
          width: 100%;
          height: 54px;
          line-height: 54px;
          position: relative;
          cursor: pointer;
          .frame-line-item-title {
            padding: 0 0 0 16px;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
          .frame-line-item-menu {
            box-sizing: border-box;
            width: 24px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .bottom-y-line-box {
      box-sizing: border-box;
      height: 4vh;
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      .bottom-y-line {
        width: 1px;
        height: 100%;
        background-color: $border-frame-line;
        position: relative;
        .add-frame-line-item-box {
          box-sizing: border-box;
          width: 30px;
          height: 40px;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .add-frame-line-item-btn {
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            overflow: hidden;
            border-radius: 50%;
            background-color: $primary;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
          .add-frame-line-item-popper {
            display: none;
            box-sizing: border-box;
            width: 160px;
            height: 60px;
            box-shadow: 0 10px 24px 1px rgba(64,90,163,0.13);
            background-color: #fafafa;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 9;
            .add-frame-into-array,
            .add-frame-line-item {
              box-sizing: border-box;
              width: 100%;
              height: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              &:hover {
                background-color: rgba(64,90,163,0.06);
              }
            }
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
  .frame-line-children {
    display: flex;
    justify-content: center;
  }
}
