<h2>routing 页面</h2>

<!--<app-svg (textClickEvent)="appStopTimer()"></app-svg> <br />-->
<h4 [appHoverChangeBgColor]="'red'"><a routerLink="/">routerLink to / 首页</a></h4>
<h4 [appHoverChangeBgColor]="'green'"><a routerLink="/sun_tribe">routerLink to sun_tribe</a></h4>
<h4 [appHoverChangeBgColor]="'blue'"><a routerLink="/moon_tribe">routerLink to moon_tribe</a></h4>

<div class="grid grid-pad">
    <a *ngFor="let routingHero of routingHeroes;
            let item=$implicit;let i=index; let arrLength=count;
            let isFirst=first; let isLast=last;
            let isEven=even; let isOdd=odd; trackBy: trackByItems"
        class="col-1-4" routerLink="/hero_detail/{{routingHero.id}}">
        <div class="module hero">
            <br />item: {{item | json}}
            <br />index: {{i}}
            arrLength: {{arrLength}}
            <br />isFirst: {{isFirst}}
            isLast: {{isLast}}
            <br />isEven: {{isEven}}
            isOdd: {{isOdd}}
            <br />
            <h4>{{routingHero.name}}</h4>
        </div>
    </a>
</div>
